apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: headlamp
spec:
  values:
    enabled: true
    ingressClassName: traefik
    ingress:
      hosts:
        - host: headlamp-stg.sandeshsolabannavar.com
          paths:
            - path: /
              type: ImplementationSpecific
